GEMINI_API_KEY = "PASTE_YOUR_GEMINI_API_KEY_HERE"

TWILIO_ACCOUNT_SID = "PASTE_YOUR_TWILIO_ACCOUNT_SID_HERE"
TWILIO_AUTH_TOKEN = "PASTE_YOUR_TWILIO_AUTH_TOKEN_HERE"
TWILIO_WHATSAPP_FROM = "whatsapp:+17372508034"
TWILIO_CONTENT_SID = "PASTE_YOUR_TWILIO_CONTENT_SID_HERE"
